<mat-toolbar color="primary">
  <a md-button routerLink="/career" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Career </a>
  <a md-button routerLink="/skills" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Skills </a>
  <a md-button routerLink="/products" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Products </a>
  <a md-button routerLink="/reachme" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Reach Me? </a>
</mat-toolbar>